* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Adjusted all class headers to just element header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Removed header element, as there is only one h1 element on the page. */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Adjusted class '.seo' to just element 'span', as it is only used once. Also no need for specific
   elements beforehand, as span is only seen once on the page */
span {
    color: #d9dcd6;
}

/* Adjusting div elements to nav elements to match the html code. Also no need for specific
   elements beforehand, as this is the only nav tag on the page */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* No need for specific element calls, as this is the only ul tag on the page */
ul {
    list-style-type: none;
}

/* No need for specific element calls, since there is only one list on the page */
li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Adjusted div to semantic element */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Content class was removed and replaced with a semantic element, adjust to match HTML code */
article {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Moved the content/section items before the aside to line up with HTML code */
/* At first, adjusted since three different classes have the same styled content and merged under one class, but now
   calling upon an element within another element instead */
article section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Same as above, three different classes merged to one class and changed to a single element to call upon elements
   within the hierarchy */
article section img {
    max-height: 200px;
}

/* Same as above, three different classes merged to one class and changed to a single element to call upon elements
   within the hierarchy */
article section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* No need to call on on class, as we only need 'aside' element */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Adjusted class elements to match html and reduce redundancy. Also removed class as we can be specific with the class within a class */
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Changing from class footer to just footer element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
